{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<!-- top bar -->
<div class="top-bar">
    <h1>Board</h1>
    <a href='{% url "home" %}'>Home</a> / Board
</div>

<!-- end top bar -->
<div class="container">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'blog:board_topics' board.pk %}">{{ board.name }}</a>
            <br/>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">
            {{ board.get_posts_count }}
          </td>
          <td class="align-middle">
            {{ board.topics.count }}
          </td>
          <td class="align-middle">
            {% with post=board.get_last_post %}
              {% if post %}
              <small>
                <a href="{% url 'blog:topic_posts' board.pk post.topic.pk %}">
                  By {{ post.created_by.username }} at {{ post.created_date }}
                </a>
              </small>
              {% else %}
              <small class="text-muted">
                  <em>No posts yet.</em>
              </small>
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}