{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<!-- top bar -->
<div class="top-bar">
    <h1>게시판</h1>
    <p><a href="#">Home</a> / 게시판</p>
</div>
<!-- end top bar -->
<a href="{% url 'blog:create' %}">글쓰기</a><br/><br/><br/><br/><br/>   
{% for contact in contacts %}
<a href="{% url 'blog:read' pk=contact.pk %}">[{{ contact.title }}</a>||작성자: {{ contact.user }}]
<br/>
{% endfor %}

{% if result_list.has_other_pages %}
<ul class = "pagination">
  {% if result_list.has_previous %}
    <li><a href="?page={{ result_list.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class = "disabled"><span>&laquo;</span></li>
  {% endif %}

  {% if result_list.number > 2  %}
      <li><a href="?page={{ 1 }}"> 1 </a></li> 
       <li ><span>...<span class="sr-only">...</span></span></li>
  {% endif %}
  {% for i in page_range %}

    {% if result_list.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}

  {% if result_list.number < max_idx %}
        <li ><span>...<span class="sr-only">...</span></span></li>
      <li><a href="?page={{ max_idx|add:'2' }}">{{ max_idx|add:"2" }}</a></li>
  {% endif %}

  {% if result_list.has_next %}
      <li><a href="?page={{ result_list.next_page_number }}">&raquo;</a></li>
  {% else %}
      <li class="disabled"><span>&raquo;</span></li>
  {%endif %}
        
</ul>
{%endif%}



{% endblock %}
